@import "../abstracts/vars";

.header {
  padding: 10px 0;
  background-color: #fff;
  @media (min-width: 768px) {
    padding: 20px 0;
  }

  .container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 960px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__inner {
  }

  &__burger-btn {
    width: 42px;
    height: 42px;
    background-color: $accent;
  }

  &__img {
    @media (min-width: 768px) {
      width: 105px;
    }
  }

  &__burger-menu {
    @media (min-width: 960px) {
      display: none;
    }
  }
  &__nav {
    display: none;
    @media (min-width: 960px) {
      display: block;
      width: 100%;
      height: 40px;
      background-color: $accent;
    }
  }
  &__menu{
    @media (min-width: 960px) {
      width: 100%;
    }
  }
}
