@import "../abstracts/vars";

.header {
    padding: 10px 0;
    background-color: #fff;
    .container{
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__inner{
    }
    // &__menu{
    // }
    &__burger-btn {
        width: 42px;
        height: 42px;
        background-color: $accent;
    }
}
